footer.bg-dark.text-white
    .container-fluid
        .row.text-center
            .col-md-4.column
                a(href="./pages/login.html" target="_blank")
                    img.footer_icon(src="/img/favIcon_white.png" alt="logo")
                p.footer_text Powered by eTechBazaar
                #social
                    i.fab.fa-facebook(aria-hidden="true")
                    i.fab.fa-twitter(aria-hidden="true")
                    i.fab.fa-instagram
                    i.fab.fa-youtube(aria-hidden="true")
            .col-md-4.column
                hr.lines.w-75
                h3.footer_header Helpful Links
                hr.lines.w-75
                a.footer_links(href) Computer Accessories
                a.footer_links(href) Security Cameras
                a.footer_links(href) Top Picks
                a.footer_links(href) New Arrivals
            .col-md-4.column
                hr.lines.w-75
                h3.footer_header Contact Us
                hr.lines.w-75
                a.footer_links(href="tel:+923320032005") +923320032005
                a.footer_links(href="mailto:webmaster@example.com") Mail Us
                a.footer_simple_links(href) 100 Street Name
                a.footer_simple_links(href) City, State, 000000
    hr.lines
    .text-center.py-2
        span.copy_rights © Design & Develop by 
        img.fumn_logo(src="/img/fumn_white2.png", alt)