doctype html
html(lang="en")
  head

    //-//  TODO: ------------------- Required meta tags --------------
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")

    //-// TODO:----- Google Fonts(Optional) Roboto 
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Petemoss&display=swap" rel="stylesheet")

    //-// TODO:----- Bootstrap core CSS 
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet")

    //-// TODO:----- Material Design Bootstrap 
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet")

    //-// TODO:------------- Custom Personalize css  ------------
    block CSS
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="/css/mediaQuries.css")
    script(src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js")
    link(href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet")
    title

    //-// TODO:------ Adding icon of Max size of (100 X 100) in Tab bar 
    link(rel="shortcut icon" href="/img/favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer")

  body 

    //-*********** HEADER

    include _header

    //-********** CONTENT 

    block Content 
      h1 Hello!
      h1 Hello!
      h1 Hello!
      h1 Hello!
      h1 Hello!
      h1 Hello!
      h1 Hello!
      h1 Hello!





    //-*********** FOOTER
    include _footer














    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //-// TODO:----- Bootstrap tooltips 
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")

    //-// TODO:------------ Font awesome icons link  ------------
    script(src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")

    //-// TODO:----- Bootstrap core JavaScript 
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js")

    //-/  slider 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(type="text/javascript").



    script(src="/js/admin.js")
    script(src="/js/owlcarosuel.js")
    script(src="/js/mapBox.js")