extends base 
include _mainHead
include _subHead
include _productCard

block Content
    #my-carousel.carousel.slide.carousel-fade(data-ride="carousel", data-interval="6000")
      ol.carousel-indicators
        li.active.dots(data-target="#my-carousel", data-slide-to="0", aria-current="location")
        li.dots(data-target="#my-carousel", data-slide-to="1")
        li.dots(data-target="#my-carousel", data-slide-to="2")
      //- *----------------- Image Carousel -----------------------
      .carousel-inner#car-in
        .carousel-item.active
          img.w-100.carousel_img(src="./img/carousel_img1.jpg", alt)
        .carousel-item
          img.w-100.carousel_img(src="./img/carousel_img2.jpg", alt)
        .carousel-item
          img.w-100.carousel_img(src="./img/carousel_img3.jpg", alt)
      //- * Previous & Next Buttons 
      a.carousel-control-prev(href="#my-carousel", data-slide="prev", role="button")
        span.fas.fa-chevron-left.fa-2x(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#my-carousel", data-slide="next", role="button")
        span.fas.fa-chevron-right.fa-2x(aria-hidden="true")
        span.sr-only Next

    +mainHead("New","Arrivals")
    .row
        each i in [0,1,2,3,4,5,6,7]
         -const index= allProducts.length-i-1
         +productCard(allProducts[index])
    
    +mainHead("All","Categories")
    
    section.slider
        each category in categories
            -if(allProducts.some(e => e.category==category)) 
                +subHead(category)
            -const filtered=allProducts.filter(e => e.category==category )
                .owl-carousel.owl-theme
                    each prod in filtered
                        .item
                            .col-3
                                +productCard(prod)

    +mainHead("About","Us")
    
    section.about_admin
      .container
        .row
          .col-md-9.col-12.description_sec
            p.description_text.rotate--text Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus reprehenderit, aperiam sed quis non vitae nemo quidem accusamus mollitia maiores doloremque porro omnis explicabo rem, fugiat voluptates eligendi eos.Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus reprehenderit, aperiam sed quis non vitae nemo quidem accusamus mollitia maiores doloremque porro omnis explicabo rem, fugiat voluptates eligendi eosquidem accusamus mollitia maiores doloremque porro omnis explicabo rem, fugiat voluptates eligendi eos. 
            
          .col-md-3.col-12
            .row
              .ml-auto.col-md-12.col-6.text-center.text-md-right.o1
                img.img-fluid.owner_img(src="/img/user-5.jpg", alt)
                p.owner_name.rotate Ahmad Hassan
              .ml-auto.col-md-12.col-6.text-center.text-md-right.o2
                img.img-fluid.owner_img(src="/img/user-14.jpg", alt)
                p.owner_name.rotate Umer Hassan
    section.section-map
      #map

    .modal.fade#staticBackdrop(data-backdrop="static", data-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            .section_heading.section_heading--modal
              span.text_grad To
              span.tilt_grad.tilt_grad--modal Proceed
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            form(action)
              .form-group
                label.col-form-label.user_name.user_info_input_headings(for="user-name") Name:
                input.form-control.modal_input_field#user-name(type="text")
              .form-group
                label.col-form-label.user_phoneNo.user_info_input_headings(for="user-phoneNo") Phone No:
                input.form-control.modal_input_field#user-phoneNo(type="tel")
              .form-group
                label.col-form-label.user_address.user_info_input_headings(for="user-address") Address:
                input.form-control.modal_input_field#user-address(type="text")
              .text-center
                button.btn.submit_form(type="submit") Submit  