.main-title {
  width: 3rem;
  max-width: fit-content;
  min-width: fit-content;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  color: #fff !important;
}
.heading-main {
  display: flex;
  margin-bottom: 3rem;
  margin-left: 1.8rem;
}
.full-widow {
  width: 100%;
  margin-top: 6.7rem !important;
  font-weight: bold;
  margin-left: 1rem;
  color: black;
}
