a.card.card_tile(href="./pages/product.html", target="_blank")
  .card_header
    .ribbon.ribbon-top-right
      span Used
    .card_picture
      img(src="./img/products/img1.jpg")
    .card_description
      h3.card_item_name Splash Drone
      p.model_version Splash Drone 3,20000mah battery with remote
        
      button.btn.btn-outline-light.card_btn(type="button") Add to cart
        
      p.card_price 27,000Rs