    .row.section-start
        .col-md-4.col-3.side_lines_L
            hr
        .col-md-4.col-6.section_heading
            span.text_grad New 
            span.tilt_grad Arrivals
        .col-md-4.col-3.side_lines_R
            hr